# Ignore node_modules directory
node_modules/

# Ignore built files for Angular
/dist/

# Ignore built files for Express
/build/

# Ignore environment-specific files
.env
.env.*

# Ignore logs
logs/

# Ignore package-lock.json for Angular
package-lock.json

# Ignore package-lock.json for Express
package-lock.json

# Ignore .DS_Store files (for macOS)
.DS_Store
